/* Hide the input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Center the content */
body {
  color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 100px;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  background-color: #424242;
}
h1 {
  margin-bottom: 20px;
  font-size: 75px;
}
/* Set the width of the div to 50% of the full width */
div {
  max-width: 40%;
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
/* Add space between the items and give them a white background with a shadow */

/* Increase the size of the input fields and the font size */
input[type="number"] {
  background-color: #272727;
  color: #d3d3d3;
  width: 55px;
  height: 70px;
  font-size: 2em;
  margin: 0 5px;
  text-align: center;
  border-radius: 20%;
  border: none; /* Make the border invisible */
  box-shadow: 2px 2px 4px #000000; /* Add a shadow under the numbers */
  outline: none;
}

#guesses div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 10px;

  margin-right: 10px;
  border: #d3d3d3;
  border-width: 2px;
  background-color: #272727;
  justify-content: space-between;
}

#guesses {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal {
  display: none;
  background: rgb(56, 56, 56);
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  padding: 20px;
  border: 1px solid #888;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playAgain {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

#closeModal {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

/* Existing CSS */

/* ... */

/* Responsive CSS for screens smaller than 600px (typical smartphone) */
@media (max-width: 600px) {
  body {
    padding-top: 50px;
  }

  h1 {
    font-size: 40px;
  }

  div {
    max-width: 90%;
  }

  input[type="number"] {
    width: 40px;
    height: 50px;
    font-size: 1.5em;
  }

  #guesses {
    width: 90%;
  }

  .modal-content {
    max-width: 90%;
  }
}